<div class="page-header">

  <h1>No matter how gloomy, every day has a BrightSide!</h1>
  <%= link_to new_brightside_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New BrightSide
  <% end %>
  <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Record yours here =></h3>

</div>

<div class="table-responsive brightsides">
<h4>My BrightSides</h4>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Date</th>
      <th>Content</th>
      <th>Options</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @brightsides.each do |brightside| %>
      <tr>
        <td><%= brightside.title %></td>
        <td><%= brightside.entry %></td>
        <td><%= link_to 'View', brightside %></td>
        <td><%= link_to 'Edit', edit_brightside_path(brightside) %></td>
        <td><%= link_to 'Delete', brightside, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'View Actions', shines_path(brightside) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
