<div class="page-header">
  <%= link_to new_brightside_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Brightside
  <% end %>
  <h1>Your BrightSides</h1>

</div>


<div class="table-responsive brightsides">


<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Options</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @brightsides.each do |brightside| %>
      <tr>
        <td><%= brightside.title %></td>
        <td><%= brightside.entry %></td>
        <td><%= link_to 'View', brightside %></td>
        <td><%= link_to 'Edit', edit_brightside_path(brightside) %></td>
        <td><%= link_to 'Delete', brightside, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Add Shine', shines_path %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
