<%= form_for(@shine) do |f| %>
  <% if @shine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shine.errors.count, "error") %> prohibited this shine from being saved:</h2>

      <ul>
      <% @shine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :completed %><br>
    <%= f.check_box :completed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
