<p id="notice"><%= notice %></p>

<h1>Because today has a BrightSide,<br>
I'll spread the brightness by:</h1>
<table>
  <thead>
    <tr>
      <th>Action</th>
      <th>Completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shines.each do |shine| %>

      <tr>
        <td><%= shine.title %></td><br>
        <td><%= shine.completed %></td>
        <td><%= link_to 'View', shine %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Action', new_shine_path %> |
<%= link_to 'Back', brightsides_path %>
