<p id="notice"><%= notice %></p>

<p>
  <strong>Action:</strong>
  <%= @shine.title %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @shine.completed %>
</p>

<%= link_to 'Edit', edit_shine_path(@shine) %> |
<%= link_to 'Delete', shine_path, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', shines_path %>
